<div class="container">



    <h1>La liste de tous les gerants : <button type="button" class="btn btn-outline-success"
            [routerLink]="['/gerants/new']">créer gerant</button></h1>
    <table class="table table-striped">
        <thead>
            <tr class="thead">
                <td scope="col">id
                </td>
                <td scope="col">
                    nom
                </td>
                <td scope="col">
                    Nombre de conseiller
                </td>
                <td scope="col">
                    agence_id</td>
                <td scope="col">Modifier un gerant</td>
                <td scope="col">Supprimer un gerant</td>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let gerant of gerants'>
                <td scope="row">{{gerant.id}}</td>
                <td>{{gerant.nom}}</td>
                <td>
                    <ul>
                        <li *ngFor='let conseiller of gerant.conseillers'>conseiller.id - conseiller.nom de :
                            {{gerant.conseillers}} </li>
                    </ul>
                </td>
                <td>{{gerant.agence_id}}</td>

                <td>
                    <button type="button" class="btn btn-outline-secondary">Modifier</button>

                </td>
                <td><button class="btn btn-outline-danger" (click)="supprimerGerant(gerant.id)">Supprimer </button></td>
            </tr>
        </tbody>
    </table>



</div>