<div class="container">
  <h1>
    La liste de tous les gerants :
    <button
      type="button"
      class="btn btn-outline-success"
      [routerLink]="['/gerants/new']"
    >
      créer gerant
    </button>
    <button
      class="btn btn-outline-secondary"
      [routerLink]="['/gestion-agences-gerants']"
    >
      Gérer relation agence gerant
    </button>
    <button
      class="btn btn-outline-secondary"
      [routerLink]="['/gestion-gerant-conseiller']"
    >
      Gérer relation gerant conseiller
    </button>
  </h1>
  <table class="table table-striped">
    <thead>
      <tr class="thead">
        <td scope="col">id</td>
        <td scope="col">nom</td>
        <td scope="col">Nombre de conseiller</td>
        <td scope="col">agence_id</td>
        <td scope="col">Modifier un gerant</td>
        <td scope="col">Supprimer un gerant</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gerant of gerants">
        <td scope="row">{{ gerant.id }}</td>
        <td>{{ gerant.nom }}</td>
        <td>{{ gerant.conseillers.length}}</td>
        <td>{{ gerant.idAgence}}</td>

        <td>
          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="redirection(gerant.id)"
          >
            Modifier
          </button>
        </td>
        <td>
          <button
            class="btn btn-outline-danger"
            (click)="supprimerGerant(gerant.id)"
          >
            Supprimer
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
