.container{
    margin-top: 150px;
    margin-bottom: 150px;
}
.btn{
    margin-left: 10px;
}
table{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
}
tr{
    border-top: rgb(191, 158, 245);
    border-bottom: rgb(0, 0, 0);   
}
.thead{
    background: linear-gradient(150deg, #0084ff,#00d0ff);
    border-top: rgb(0, 0, 0);
    color: #fff
}
.trColor{
    background: #e4e4e4;
}
.rose{
    border: 1px solid #DD2F6E;
    color: #DD2F6E
}
.rose:hover{
    background: #DD2F6E;
    border: 1px solid #DD2F6E;
    color: #FFF
}