.footer{
    width: 100%;
    background: rgb(213, 216, 220) !important;
    display: flex;
    justify-content: center;
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 65px;
}

.titre{
    display: block;
    text-align: center;

}
.titre p {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #4B4453;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 25px;
    
}