.contenue{
    margin-top: 150px;
    margin-bottom: 150px;
}
.btn {
    margin-left: 10px;
}
.thead{
    background: linear-gradient(150deg, #dfa3b9,rgb(151, 103, 228));
    border-top: rgb(0, 0, 0);
    color: #fff
}
.trColor{
    background: #f1eded;
}
.rose{
    color: #DD2F6E;
}
.darkbleu{
    color: #0084ff;
}