<div class="container col-8">
    <div class="contenue"> 
        <h1>Relations Agences/Gerants :</h1>
    </div>
    <table class="table table-striped">
        <thead>
            <tr  class="thead">
               
                <td>Nom de l'agence</td>
                <td>Changer de gerant</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let agence of agences' class="trColor">
                
                <td >Agence nom {{agence.nom}}</td>
                <td>
                    <div class="mb-3">
                      <select
                        id="disabledSelect"
                        class="form-select"
                        ngModel
                        (ngModelChange)="changerGerant($event, agence.id)"
                      >
                        <option
                          *ngFor="let gerant of gerants"
                          [ngValue]="gerant"
                        >
                          {{ gerant.nom }}
                        </option>
                      </select>
                    </div>
                  </td>
            </tr>  
            
        </tbody>
    </table>
    </div>
    