<div class="container col-6">
  <div class="carte">
    <h1>Creer un client</h1>
    <form [formGroup]="client" (ngSubmit)="creerClient()">
      <div class="form-group">
        <label class="form-label">Nom : </label>
        <input class="form-control" formControlName="nom" type="text" />
        <label class="form-label">Prenom : </label>
        <input class="form-control" formControlName="preNom" type="text" />
        <label class="form-label">Adresse : </label>
        <input class="form-control" formControlName="adresse" type="text" />
        <label class="form-label">Telephone : </label>
        <input class="form-control" formControlName="tel" type="number" />


        <label *ngIf="roleTab[0]||roleTab[1]" class="form-label">idConseiller : </label>
        <input *ngIf="roleTab[0]||roleTab[1]" class="form-control" formControlName="idConseiller" type="number" />

        <div formGroupName="compteCourant">
          <label class="form-label">Solde : </label>
          <input class="form-control" formControlName="solde" type="number" />

        </div>
        <button class="btn btn-primary" [disabled]="client.invalid">Creer</button>

        </div>
    </form>
  </div>
</div>
