.btn{
    margin-top: 20px;
    margin-bottom: 20px;
    background:linear-gradient(150deg,#00d0ff, rgb(150, 231, 134)); 
    border: 1px solid #FFF;
}
.carte{
    margin-top: 200px;
    border: 2px solid #5adeb6;
    border-radius: 50% 20% / 10% 40%;
    padding: 3em;;
}