<div class="container col-6">
    <div class="carte">
        <h1>Creer un conseiller</h1>
        <form [formGroup]="conseiller" (ngSubmit)="creerConseiller()" >
            <div class="form-group">
                <label class="form-label">Nom : </label>
                <input class="form-control" formControlName="nom" type="text"/>
                <label *ngIf="roleTab[0]" class="form-label">Gerant_id : </label>
                <input *ngIf="roleTab[0]" class="form-control"formControlName="gerant_id" type="number"/>
                

                
                <form [formGroup]="newUtilisateur">
                    <label class="form-label" >Username : </label>
                    <input class="form-control" formControlName="username" type="text"/>
                    <label class="form-label" >Password : </label>
                    <input class="form-control" formControlName="password" type="password" placeholder="Mot de passe"/>
                </form>
                

                <button class="btn btn-primary"  >Creer</button>
            </div> 
        </form>
    </div>
</div>


