<div class="container col-8">  
<h1>La liste de tout les conseillers :</h1>
<h2>Total : {{conseillers.length}} conseillers 
    <button type="button" class="btn btn-outline-success" (click)="ajouter()">Nouveau</button>
    <button type="button" class="bleu gerer btn btn-outline-success" >Gerer relation conseillers/gerant</button>
    <button type="button" class="bleu gerer btn btn-outline-success" >Gerer relation conseillers/client</button>
</h2>
<table class="table table-striped">
    <thead>
        <tr class="thead">
            <td scope="col">ID</td>
            <td scope="col">Nom</td>
            <td scope="col">Nombres de clients à sa charge</td>
            <td scope="col">gerant id</td>
            <td scope="col"> </td>
            <td scope="col"> </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let conseiller of conseillers' class="trColor" >
            <td scope="row">{{conseiller.id}}</td>
            <td scope="row">{{conseiller.nom}}</td>
            <td >
                <ul>
                    <li>{{conseiller.clients.length}} </li>
                </ul>
            </td>
            <td >{{conseiller.gerant_id}}</td>
            <td>
                <button type="button" class="rose btn btn-outline-secondary" (click)=redirection(conseiller.id)>Gerer</button>
            </td>
            <td><button type="button"class="btn btn-outline-danger" (click)="supprimerConseiller(conseiller.id)">Supprimer </button></td>
        </tr> 
        <tr  class="trColor" >
            <td scope="row">conseillerId</td>
            <td >Nom du conseiller</td>
            <td >Nombres de clients à sa charge</td>
            <td >gerant_id </td>
            <td>
                <button class="rose btn btn-outline-secondary" >Gerer</button>
            </td>
            <td><button class="btn btn-outline-danger" >Supprimer </button></td>
        </tr>   
    </tbody>
</table>
</div>







                                   


