.container{
    margin-top: 150px;
    margin-bottom: 150px;
}
table{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
}
tr{
    border-top: rgb(191, 158, 245);
    border-bottom: rgb(0, 0, 0);   
}
.thead{
    background: linear-gradient(150deg, #00d0ff,#57cac4);
    border-top: rgb(0, 0, 0);
    color: #fff
}
.trColor{
    background: #e4e4e4;
}
.rose{
    border: 1px solid #DD2F6E;
    color: #DD2F6E
}
.rose:hover{
    background: #DD2F6E;
    border: 1px solid #DD2F6E;
    color: #FFF
}
.gerer{
    margin-left: 10px;
}
.bleu{
    border: 1px solid #00d0ff;
    color: #00d0ff
}
.bleu:hover{
    background: #00d0ff;
    border: 1px solid #00d0ff;
    color: #FFF
}