<div class="container col-8">
    <h1>La liste de tout les clients :</h1>
    <table class="table table-striped">
      <thead>
        <tr class="thead">
          <td scope="col">Id</td>
          <td>Nom</td>
          <td>Prenom</td>
          <td>adresse</td>
          <td>tel</td>
          <td>solde</td>
          <td>virements</td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients">
          <td >{{ client.id }}</td>
          <td>{{ client.nom }}</td>
          <td>{{ client.preNom }}</td>
          <td>{{ client.adresse }}</td>
          <td>{{ client.preNom }}</td>
          <td *ngIf="client.compteCourant == null; else compteNull">0</td>
          <ng-template #compteNull>
            <td>{{ client.compteCourant.solde }}</td>
          </ng-template>
          
          
          <td>
            <button
              type="button"
              class=" btn btn-outline-success"
              (click)="redirectionVirement(client.id)"
            >
               virement
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-outline-success"
              (click)="redirection(client.id)"
            >
              Modifier
            </button>
          </td>
          <td>
            <button class="btn btn-outline-danger" (click)="supprimerClient(client.id)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>

</div>
