
.btn{
    margin-top: 20px;
    margin-bottom: 20px;
    background:linear-gradient(150deg, #0084ff,#00d0ff); ;
    border: 1px solid #FFF;
}
.carte{
    margin-top: 200px;
    border: 2px solid #0084ff;
    border-radius: 50% 20% / 10% 40%;
    padding: 3em;;
}