<div class="container col-8">
  <div class="contenue">
    <h1>Relations Conseillers/Clients :</h1>
    <table class="table table-striped">
      <thead>
        <tr class="thead">
          <td>Conseiller Actuel</td>
          <td>Client Nom</td>
          <td>Conseillers Disponible</td>
        </tr>
      </thead>
      <tbody *ngFor="let conseiller of conseillers">
        <tr *ngFor="let client of conseiller.clients" class="trColor">
          <td>{{ conseiller.nom }}</td>
          <td>{{ client.nom }}</td>
          <td>
            <div class="mb-3">
              <select
                id="disabledSelect"
                class="form-select"
                ngModel
                (ngModelChange)="changerConseiller($event, client.id)"
              >
                <option
                  *ngFor="let conseillerDispo of conseillersDiponible"
                  [ngValue]="conseillerDispo"
                >
                  {{ conseillerDispo.nom }}
                </option>
              </select>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
