<div class="container col-8">
  <h1>Relations Gerants/Conseillers :</h1>

  <table class="table table-striped">
    <thead>
      <tr class="thead">
        <td>Conseiller</td>
        <td>Gerant Actuel</td>
        <td>Gerants Disponible</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let conseiller of conseillers" class="trColor">
        <td>{{ conseiller.nom }}</td>
        <td>{{ conseiller.gerant_id }}</td>
        <td>
          <div class="mb-3">
            <select
              id="disabledSelect"
              class="form-select"
              ngModel
              (ngModelChange)="changerGerant($event, conseiller.id)"
            >
              <option
                *ngFor="let gerant of gerants"
                [ngValue]="gerant"
              >
                {{gerant.id}} - {{ gerant.nom }}
              </option>
            </select>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
