.btn{
    margin-top: 20px;
    margin-bottom: 20px;
    background:rgb(191, 158, 245);
    border: 1px solid #FFF;
}
.carte{
    margin-top: 200px;
    height: 350px;
    border: 2px solid rgb(191, 158, 245);
    border-radius: 50% 20% / 10% 40%;
    padding: 4em;
}