.container{
    margin-top: 150px;
    margin-bottom: 150px;
}
.btn{
    margin-left: 10px;
}
table{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
}
tr{
    border-top: rgb(191, 158, 245);
    border-bottom: rgb(0, 0, 0);   
}
.thead{
    background: linear-gradient(150deg, #dfa3b9,rgb(191, 158, 245));
    border-top: rgb(0, 0, 0);
    color: #fff
}
.trColor{
    background: #eeeded;
}
.rose{
    border: 1px solid rgb(191, 158, 245);
    color: rgb(191, 158, 245)
}
.rose:hover{
    background: rgb(191, 158, 245);
    border: 1px solid rgb(191, 158, 245);
    color: #FFF
}