<div class="container">
  <h1>Audit</h1>
<table class="rose table table-striped">
  <thead>
    <tr class="thead">
      <td scope="col">id</td>
      <td scope="col">nom</td>
      <td scope="col">conseillerId</td>
      <td scope="col">Solde</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let clientSolde of clientSoldes'>
      <td scope="row">  {{clientSolde.id}}</td>
      <td scope="row">  {{clientSolde.nom}}</td>
      <td scope="row">  {{clientSolde.conseiller_id}}</td>
      <td scope="row">  {{clientSolde.solde}}</td>
    </tr>
    <tr>
        <td colspan="4" class="attention">Total : {{total}}</td>
  </tr>
  </tbody>
  </table>
</div>
